{% extends './base.html' %}
{% block content %}
    <h1>EDIT</h1>
    <form action="{% url 'update' data.id %}" method="POST">
        {% csrf_token %}
        <div class="feild">
            <label for="" class="form-label">Name</label>
            <input type="text" name="name" value="{{ data.name }}" placeholder="Enter Name">
        </div>
        <div class="feild">
            <label for="" class="form-label">Email</label>
            <input type="text" name="email" value="{{ data.email }}" placeholder="Enter Email">
        </div>
        <div class="feild">
            <label for="" class="form-label">City</label>
            <input type="text" name="city" value="{{ data.city }}" placeholder="Enter City">
        </div>
        <div class="feild">
            <label for="" class="form-label">Contact</label>
            <input type="text" name="contact" value="{{ data.contact }}" placeholder="Enter Contact">
        </div>
        <div class="feild">
            <input type="submit"  value="done">
        </div>
    </form>


    {% endblock %}
